.search {
  touch-action: none;
  user-select: none;
}
.search .topSearchBar {
  display: flex;
  height: 96px;
  background-color: #fff;
  touch-action: none;
  padding-right: 30px;
}
.search .topSearchBar .left {
  flex: 1;
  height: 96px;
  text-align: center;
  justify-content: center;
  line-height: 96px;
}
.search .topSearchBar .left i {
  color: #666;
  font-size: 50px;
}
.search .topSearchBar .right {
  flex: 9;
  height: 96px;
  touch-action: none;
}
.search .topSearchBar .right #minsearch {
  height: 96px;
}
.search .topSearchBar .right #minsearch .mint-searchbar {
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.search .topSearchBar .right #minsearch .mint-searchbar .mint-searchbar-inner {
  height: 88%;
  border-bottom: 1px solid #bbbbbb;
}
.search .topSearchBar .right #minsearch .mint-searchbar .mint-searchbar-inner .mintui-search {
  font-size: 30px;
  color: #d9d9d9;
  padding-right: 15px;
}
.search .topSearchBar .right #minsearch .mint-search-list {
  padding-top: 0;
}
.search .topSearchBar .right .mint-search-list {
  margin-top: 96px;
  height: 0;
}
.search .classificationList {
  height: 90px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.search .classificationList .bgc {
  height: 100%;
  width: 100%;
  overflow: auto;
  touch-action: pinch-zoom;
}
.search .classificationList .bgc ul {
  height: 50px;
  line-height: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 110%;
}
.search .classificationList .bgc ul li {
  float: left;
  height: 100%;
  line-height: 40px;
  width: 120px;
  text-align: center;
  user-select: none;
}
.search .classificationList .bgc ul li p {
  font-size: 28px;
  color: #5d5d5d;
  width: 100%;
  height: 100%;
}
.search .classificationList .bgc ul .active {
  position: relative;
}
.search .classificationList .bgc ul .active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  height: 3px;
  width: 40%;
  background-color: #04f88a;
  transform: translateX(-50%);
}
.search .hotSearchList {
  user-select: none;
}
.search .hotSearchList .title {
  padding: 50px 20px 20px;
}
.search .hotSearchList .title p {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid #ecebeb;
  padding-bottom: 15px;
}
.search .hotSearchList .details {
  padding: 0 20px;
}
.search .hotSearchList .details ul li {
  width: 50%;
  float: left;
  padding-bottom: 30px;
  font-size: 26px;
  user-select: none;
}
.search .hotSearchList .details ul li span:nth-of-type(1) {
  width: 50px;
  text-align: center;
  display: inline-block;
  color: #999;
}
.search .hotSearchList .details ul li span:nth-of-type(2) {
  color: #666;
}
.search .hotSearchList .details ul li:nth-of-type(1) span:nth-of-type(1),
.search .hotSearchList .details ul li:nth-of-type(2) span:nth-of-type(1),
.search .hotSearchList .details ul li:nth-of-type(3) span:nth-of-type(1) {
  color: #04f88a;
}
.search .hotSearchList .details ul li:nth-of-type(1) span:nth-of-type(2),
.search .hotSearchList .details ul li:nth-of-type(2) span:nth-of-type(2),
.search .hotSearchList .details ul li:nth-of-type(3) span:nth-of-type(2) {
  color: #000;
}
.search .singleResults,
.search .playlistsResults,
.search .singer,
.search .album {
  height: 86vh;
  box-sizing: border-box;
  overflow: auto;
}
.search .singleResults ul,
.search .playlistsResults ul,
.search .singer ul,
.search .album ul {
  touch-action: pan-y;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px 30px 0;
  box-sizing: border-box;
}
.search .singleResults ul li,
.search .playlistsResults ul li,
.search .singer ul li,
.search .album ul li {
  display: flex;
  padding-bottom: 38px;
}
.search .singleResults ul li .left,
.search .playlistsResults ul li .left,
.search .singer ul li .left,
.search .album ul li .left {
  flex: 1.2;
}
.search .singleResults ul li .left img,
.search .playlistsResults ul li .left img,
.search .singer ul li .left img,
.search .album ul li .left img {
  height: 74px;
  width: 74px;
  border-radius: 5px;
}
.search .singleResults ul li .center,
.search .playlistsResults ul li .center,
.search .singer ul li .center,
.search .album ul li .center {
  flex: 8;
}
.search .singleResults ul li .center p:nth-of-type(1),
.search .playlistsResults ul li .center p:nth-of-type(1),
.search .singer ul li .center p:nth-of-type(1),
.search .album ul li .center p:nth-of-type(1) {
  width: 500px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search .singleResults ul li .center p:nth-of-type(1) span:nth-of-type(1),
.search .playlistsResults ul li .center p:nth-of-type(1) span:nth-of-type(1),
.search .singer ul li .center p:nth-of-type(1) span:nth-of-type(1),
.search .album ul li .center p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 28px;
  color: #3c6695;
}
.search .singleResults ul li .center p:nth-of-type(2),
.search .playlistsResults ul li .center p:nth-of-type(2),
.search .singer ul li .center p:nth-of-type(2),
.search .album ul li .center p:nth-of-type(2) {
  font-size: 22px;
  color: #999;
}
.search .singleResults ul li .right,
.search .playlistsResults ul li .right,
.search .singer ul li .right,
.search .album ul li .right {
  flex: 2;
}
.search .singleResults ul li .right .icon,
.search .playlistsResults ul li .right .icon,
.search .singer ul li .right .icon,
.search .album ul li .right .icon {
  display: flex;
}
.search .singleResults ul li .right .icon i,
.search .playlistsResults ul li .right .icon i,
.search .singer ul li .right .icon i,
.search .album ul li .right .icon i {
  flex: 2;
  font-size: 40px;
}
.search .singleResults ul li:last-child,
.search .playlistsResults ul li:last-child,
.search .singer ul li:last-child,
.search .album ul li:last-child {
  margin-bottom: 0.6rem;
}
.search .videos {
  height: 86vh;
  box-sizing: border-box;
  overflow: auto;
}
.search .videos ul {
  padding: 10px 0px 50px 30px;
}
.search .videos ul li {
  padding-bottom: 38px;
  width: 45.5%;
  float: left;
  margin-right: 30px;
}
.search .videos ul li .top {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.search .videos ul li .top img {
  width: 150%;
  height: 150%;
  transform: translate(-20%, -20%);
}
.search .videos ul li .center {
  box-sizing: border-box;
  padding: 20px 15px;
  height: 120px;
}
.search .videos ul li .center p {
  font-size: 28px;
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  box-sizing: border-box;
}
.search .singer {
  height: 86vh;
  box-sizing: border-box;
  overflow: auto;
}
.search .singer ul {
  touch-action: pan-y;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px 30px 0;
  box-sizing: border-box;
}
.search .singer ul li {
  display: flex;
  padding-bottom: 38px;
}
.search .singer ul li .left {
  flex: 1.2;
}
.search .singer ul li .left img {
  height: 74px;
  width: 74px;
  border-radius: 74px;
}
.search .singer ul li .center {
  flex: 8;
  padding-top: 15px;
}
.search .singer ul li .center p:nth-of-type(1) {
  width: 500px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search .singer ul li .center p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 28px;
  color: #3c6695;
}
.search .singer ul li:last-child {
  margin-bottom: 0.6rem;
}
.search .subscriber {
  height: 86vh;
  box-sizing: border-box;
  overflow: auto;
}
.search .subscriber ul {
  touch-action: pan-y;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px 30px 0;
  box-sizing: border-box;
}
.search .subscriber ul li {
  display: flex;
  padding-bottom: 38px;
}
.search .subscriber ul li .left {
  flex: 1.2;
}
.search .subscriber ul li .left img {
  height: 74px;
  width: 74px;
  border-radius: 74px;
}
.search .subscriber ul li .center {
  flex: 8;
}
.search .subscriber ul li .center p:nth-of-type(1) {
  width: 500px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search .subscriber ul li .center p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 28px;
  color: #3c6695;
}
.search .subscriber ul li .center p:nth-of-type(2) {
  font-size: 22px;
  color: #999;
}
.search .subscriber ul li .right {
  flex: 2;
}
.search .subscriber ul li .right .icon {
  display: flex;
}
.search .subscriber ul li .right .icon i {
  flex: 2;
  font-size: 40px;
}
.search .subscriber ul li:last-child {
  margin-bottom: 0.6rem;
}
