.videoDetails .dialog-wrapper .dialog-container .topBanner {
  width: 750px;
  background-color: black !important;
  height: 60px !important;
  min-height: 0;
}
.videoDetails .dialog-wrapper .dialog-container .topBanner .topnarBar {
  padding: 0.03rem 0.2rem 0;
}
.videoDetails .dialog-wrapper .dialog-container .topBanner .topnarBar #back i {
  font-size: 0.7rem;
  color: #fff;
}
.videoDetails .dialog-wrapper .dialog-container .topBanner .topnarBar #back video {
  background: url(../images/fanhui1.png) no-repeat center center;
  background-size: 100% 100%;
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 9999999;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain {
  width: 100%;
  height: 94vh;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videoPlay {
  width: 100%;
  touch-action: none;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videoPlay video {
  width: 100%;
  height: 32vh;
  background: #000;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub {
  background-color: #fff;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .levelNavigation ul {
  height: 75px;
  background-color: #fff;
  box-shadow: 0 20px 10px #f8f8f8;
  touch-action: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .levelNavigation ul li {
  float: left;
  padding-left: 75px;
  width: 85px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .levelNavigation ul li p {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  line-height: 75px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .levelNavigation ul .active p {
  position: relative;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .levelNavigation ul .active p::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 5px;
  width: 60px;
  background-color: #04f88a;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance {
  overflow: auto;
  height: 59.4vh;
  touch-action: pan-y;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .creator {
  padding: 30px 0 30px 25px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .creator img {
  width: 56px;
  height: 56px;
  border-radius: 60px;
  vertical-align: middle;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .creator span {
  padding-left: 10px;
  color: #000;
  font-weight: bold;
  font-size: 28px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .videoName {
  padding: 0px 23px 30px 23px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .videoName p {
  font-size: 30px;
  color: #000;
  line-height: 1.5;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .likePlaying {
  padding: 0 23px 30px 23px;
  border-bottom: #f0f0f0 2px solid;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .likePlaying p {
  width: 170px;
  float: left;
  color: #9a9a9a;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .likePlaying p i {
  font-size: 22px;
  vertical-align: baseline;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .likePlaying p span {
  font-size: 18px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related {
  padding: 30px 0 0;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related .related-title {
  padding: 0 30px 30px 30px;
  box-shadow: 0 20px 10px #f8f8f8;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related .related-title p {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  color: #000;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related ul {
  padding: 30px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related ul li {
  display: flex;
  padding-bottom: 30px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related ul li .left {
  flex: 2;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related ul li .left img {
  width: 250px;
  height: 140px;
  border-radius: 8px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related ul li .right {
  flex: 6;
  box-sizing: border-box;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .briefIntroduction .related ul li .right p {
  font-size: 28px;
  padding: 15px;
  line-height: 1.5;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 140px;
  box-sizing: border-box;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul {
  padding: 30px 0 30px 0;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li {
  padding-bottom: 30px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top {
  display: flex;
  padding: 0 15px;
  height: 80px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top .left {
  flex: 1;
  padding: 12px 0;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top .left img {
  width: 56px;
  height: 56px;
  display: block;
  margin: 0 auto;
  border-radius: 56px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top .center {
  padding: 0 0 0 15px;
  flex: 6;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top .center p:nth-of-type(1) {
  color: #666;
  font-size: 28px;
  line-height: 1.5;
  padding-bottom: 5px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top .center p:nth-of-type(2) {
  font-size: 20px;
  color: #999;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top .right {
  flex: 1;
  color: #999;
  font-size: 26px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .top .right i {
  vertical-align: baseline;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .contentss {
  padding: 20px 30px 0 80px;
}
.videoDetails .dialog-wrapper .dialog-container .videoMain .videosub .substance .discuss ul li .contentss p {
  font-size: 30px;
  color: #333;
}
